@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap");

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #0076e4;
}

* {
  font-family: "Montserrat", sans-serif !important;
  box-sizing: border-box;
}

input,
textarea,
select {
  height: 45px;
  width: 100%;
  border: 1px solid #c6c6c6;
  padding-left: 15px !important;
  border-radius: 2px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border: 1px solid #353535;
}

textarea {
  padding-top: 10px !important;
  min-height: 100px;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  height: 45px !important;
  box-shadow: none !important;
  border-radius: 2px !important;
}

label {
  margin: 0 !important;
  padding: 0 !important;
  color: #353535 !important;
}

a {
  text-decoration: none;
  color: var(--primary) !important;
}

.ant-radio-input {
  accent-color: #232323 !important;
}

i {
  font-size: 22px;
  cursor: pointer;
}

table {
  border: 1px solid #c7c7c7 !important;
  border-radius: 2px !important;
}

.ant-menu-item:hover {
  background-color: blue !important;
  /* Replace with your desired hover color */
}

.ant-menu-item-danger:hover {
  background-color: rgb(3, 0, 8) !important;
  border: 1px solid red;
}

.ant-card:hover {
  cursor: pointer;
  border: 1px solid blue;
}

.backbtn:hover {
  cursor: pointer;
  color: blue;
}

.backbtn {
  font-size: 1.8rem;
  font-weight: bold;
}

.ans-radio {
  width: 50px !important;
  height: 20px !important;
  font-size: 1.2rem !important;
  display: none;
}

.ans-label {
  font-size: 1.6rem;
  font-weight: bold;
  width: 50px;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
}

.ans-label.selected {
  border: 2px solid red;
  border-radius: 50%;
}

.ans-label.right-ans {
  border: 2px solid green;
  border-radius: 50%;
}

.ans-label.exact-ans {
  border: 6px solid blue;
  border-radius: 10%;
}

.ans-label:hover {
  border: 1px solid rgb(227, 134, 134);
  border-radius: 50%;
}

.ans-label-disabled:hover {
  border: none !important;
}

.exam-status {
  border-radius: 12px;
  padding: 5px;
}

.exam-status-done {
  color: white;
  background-color: blue;
}

.exam-status-new {
  color: black;
  background-color: yellow;
}

.exam-status-continue {
  color: black;
  background-color: orange;
}

.exam-preview-body {
  padding-left: 12px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.exam-col {
  border-color: black !important;
}

.ctr-btn-1 {
  border: 3px solid blue;
  padding: 6px 26px;
  border-radius: 12px;
  color: blue;
  font-weight: bold;
}

.ctr-btn-2 {
  border: 3px solid yellow;
  padding: 6px 26px;
  border-radius: 12px;
  color: black;
  font-weight: bold;
}

.ctr-btn-3 {
  border: 3px solid orange;
  padding: 6px 26px;
  border-radius: 12px;
  color: orange;
  font-weight: bold;
}

.ctr-btn-1:hover {
  color: white;
  background-color: blue;
}

.ctr-btn-2:hover {
  background-color: yellow;
}

.ctr-btn-3:hover {
  color: white;
  background-color: orange;
}

.hintIcon:hover {
  color: blue;
}

.info_avatar {
  width: 100%;
  height: 180px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.info_avatar img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
  border: 1px solid black;
}

.info_avatar span {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 50%;
  text-align: center;
  color: crimson;
  transform: 0.3s ease-in-out;
  background: #fff5;
}

.info_avatar:hover span {
  bottom: -15%;
}

.info_avatar #file_up {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

::-webkit-file-upload-button {
  cursor: pointer;
}

.info-icon:hover {
  cursor: pointer;
}

select option {


  cursor: pointer;
  line-height: 26px;
  padding: 6px;
  font-size: 1.2rem;
}

@media (max-width: 1500px) {
  .newquestion {
      flex-direction: column;
  }
}

.q-img{
  border: 1px solid rgb(230, 227, 227);
}

.flex{
  display: flex;
}

.flex-bet{
  display: flex;
  justify-content: space-between;
}

.flex-start{
  display: flex;
  justify-content: flex-start;
}

.flex-col{
  display: flex;
  flex-direction: column;
}

.w-300{
  width: 300px;
}
.w-500{
  width: 500px;
}
.w-900{
  width: 900px;
}

.w-200{
  width: 200px;
}

.w-100{
  width: 100px;
}


.bg-blue{
  background-color: blue;
}
.bg-cyan{
  background-color: rgb(120, 226, 255);
}